#main {
    background-color: lightgray;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calc {
    padding: 8px;
    width: 300px;
    border: 1px solid black;
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

#screen {
    background-color: rgb(228, 228, 228);
    padding: 2px 12px;
    display: flex;
    justify-content: right;
    align-items: center;
    border: 1px solid black;
    width: 296px;
    height: 50px;
    font-size: 26px;
}

#calc > button {
    
    width: 70px;
    height: 60px;
    font-size: 26px;
}

